:root {
  --color-primary: #70b7ff;
  --color-primary-light: #acd6ff;
  --color-primary-dark: #004387;
  --color-active: #fa7979;
  --color-active-light: #ffbaba;
  --color-active-dark: #a50000;
  --color-text-primary: #101010;
  --radius: 50px;
  --focus-visible: 3px solid;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    "Yu Gothic UI",
    Meiryo,
    Arial,
    sans-serif;
  line-height: 1.6;
}

.wrapper__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.button {
  display: inline-block;
  padding: 12px 16px;
  border-radius: var(--radius);
  border: none;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.button:hover {
  background-color: var(--color-primary-light);
}
.button:focus-visible {
  outline: var(--focus-visible) var(--color-primary-dark);
  outline-offset: 3px;
}

.button p {
  margin: 0;
  line-height: 120%;
}

.button--active {
  background-color: var(--color-active);
}
.button--active:hover {
  background-color: var(--color-active-light);
}
.button--active:focus-visible {
  outline: var(--focus-visible) #a50000;
  outline-offset: 3px;
}
